/* Archivo CSS Actualizado */
.container {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.mainContent {
    background-color: #fff;
    width: 100%;
    align-self: center;
}

.imageContainer {
    display: flex;
    flex-direction: row; /* Por defecto, mostrar las imágenes en una fila */
    justify-content: space-around;
    align-items: center;
    margin: 5% 80px 0 80px; /* Espacio entre las tarjetas */
}

.card {
    text-align: center; /* Centrar el contenido */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espacio dentro de la tarjeta */
    transition: transform 0.2s, box-shadow 0.2s; /* Animaciones */
    color: inherit; /* Mantener el color del texto original */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor de la tarjeta */
    max-width: 300px; /* Hacer la tarjeta ligeramente más grande */
    margin: 10px; /* Reducir el margen para juntar más las tarjetas */
}

.card:hover {
    transform: scale(1.05); /* Hacer zoom al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al pasar el ratón */
}

.imageItem {
    margin-bottom: 10px; /* Separar la imagen del texto */
}

.image {
    border-radius: 10px; /* Bordes redondeados */
    width: 250px; /* Tamaño ligeramente más grande de la imagen */
    height: auto; /* Mantener la proporción de aspecto */
}

.imageText {
    font-size: 18px; /* Tamaño del texto */
    color: #333; /* Color del texto */
}

.link {
    text-decoration: none; /* Quitar subrayado del enlace */
    color: inherit; /* Mantener el color del texto original */
}

@media screen and (max-width: 768px) {
    .imageContainer {
        flex-direction: column; /* Cambiar a una columna en dispositivos móviles */
    }
    .card {
        width: 100%; /* Ancho completo en dispositivos móviles */
        max-width: none; /* Anular el máximo ancho */
    }
    .image {
        width: 150px; /* Reducir el tamaño de las imágenes a 150px en dispositivos móviles */
        height: auto; /* Mantener la proporción de aspecto */
    }
}
