.container {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Para permitir que el contenido se envuelva en dispositivos pequeños */
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logoText {
    margin: 0;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLink {
    color: white;
    text-decoration: none;
}

.authLinks {
    display: flex;
    gap: 20px;
}

.loginLink,
.registerLink {
    color: white;
    text-decoration: none;
}

.main {
    padding: 20px;
}

.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    /* Para que las imágenes se envuelvan en dispositivos pequeños */
    gap: 20px;
}

.image {
    width: 35%;
    /* Ajusta el tamaño de las imágenes al 30% del contenedor */
    height: auto;
    /* Altura automática para mantener la proporción */
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        /* Cambia la dirección del flexbox en dispositivos pequeños */
        align-items: flex-start;
        /* Alinea los elementos al inicio */
    }
}