.container {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logoText {
    margin: 0;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLink {
    color: white;
    text-decoration: none;
}

.authLinks {
    display: flex;
    gap: 20px;
}

.loginLink,
.registerLink {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        /* Cambia la dirección del flexbox en dispositivos pequeños */
        align-items: flex-start;
        /* Alinea los elementos al inicio */
    }
}

.profileIcon {
    background-color: #c4c4c4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.mainContent {
    background-color: #fff;
    width: 100%;
    align-self: center;
}

@media (max-width: 991px) {
    .mainContent {
        max-width: 100%;
        padding-left: 20px;
    }
}

.columns {
    display: flex;
}

@media (max-width: 991px) {
    .columns {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.imageColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sliderContent {
    margin-top: 80px;
    padding: 15px 0 15px 0;
}

.sliderImg {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 0px solid transparent;
    gap: 5px;
}

@media (max-width: 991px) {
    .imageColumn {
        width: 100%;
    }
}



.contentColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
}

@media (max-width: 991px) {
    .contentColumn {
        width: 100%;
    }
}

.contentWrapper {
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    padding-top: 24px;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

@media (max-width: 991px) {
    .contentWrapper {
        max-width: 100%;
        margin-top: 29px;
    }
}


.footer {

    align-content: center;
    align-items: flex-end;
    border-color: gray;
    border-style: solid;
    border-top: 2.5px;
    border-bottom: 2.5px;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    text-align: center;
    padding: 14px 60px;
}


@media (max-width: 991px) {
    .footer {
        max-width: 100%;
        padding: 0 20px;
    }
}

.footerLinks {
    justify-content: space-between;
    display: flex;
    width: 445px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .footerLinks {
        flex-wrap: wrap;
    }
}

.footerLink {
    font-family: Abel, sans-serif;
    align-self: stretch;
    margin: auto 0;
    text-decoration: none;
}

.registroLink {
    font-family: ABeeZee, sans-serif;
    justify-content: center;
    border-color: rgba(17, 17, 17, 1);
    border-style: solid;
    border-width: 2px;
    border-left: 0.1px;
    border-right: 0.1px;
    border-radius: 10px;
    align-self: stretch;
    color: #111;
    white-space: nowrap;
    padding: 8px 16px;
    text-decoration: none;
}

@media (max-width: 991px) {
    .registroLink {
        white-space: initial;
    }
}

.loginSection {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    padding: 80px;
}

@media (max-width: 991px) {
    .loginSection {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}

.loginText {
    color: #333;
    margin-top: 25px;
    font: 400 16px Poppins, sans-serif;
    padding: auto;
}

.loginButton {
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: #111;
    margin-top: 18px;
    width: 270px;
    max-width: 100%;
    color: #fff;
    text-align: center;
    padding: 15px 60px;
    font: 300 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .loginButton {
        padding: 0 20px;
    }
}

.registrationContainer {
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    max-width: 539px;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    margin: auto;
    padding: 0px 31px 0;
}

@media (max-width: 991px) {
    .registrationContainer {
        padding: 0 20px;
    }
}

.registrationTitle {
    color: #333;
    text-align: center;
    align-self: stretch;
    font: 500 32px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .registrationTitle {
        max-width: 100%;
    }
}

.organizationLabel {
    color: #666;
    margin-top: 21px;
    font: 16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .organizationLabel {
        max-width: 100%;
    }
}

.inputField {
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    margin-top: 9px;
    margin-bottom: 12px;
    width: 100%;
    height: 56px;
    padding-left: 20px;
    font-size: medium;
}

.emailLabel {
    color: #666;
    margin-top: 38px;
    font: 16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .emailLabel {
        max-width: 100%;
    }
}

.passwordContainer {
    display: flex;
    margin-top: 32px;
    width: 100%;
    max-width: 459px;
    gap: 20px;
    white-space: nowrap;
    padding: 2px 9px 2px 0;
}

@media (max-width: 991px) {
    .passwordContainer {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
    }
}

.passwordLabel {
    color: #666;
    font: 16px Poppins, sans-serif;
}

.passwordToggle {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: rgba(102, 102, 102, 0.8);
    text-align: right;
    flex: 1;
}

@media (max-width: 991px) {
    .passwordToggle {
        white-space: initial;
    }
}

.passwordToggleIcon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
}

.passwordToggleText {
    font-family: Poppins, sans-serif;
    margin: auto 0;
}

.signInButton {
    display: flex;
    /* Para usar flexbox */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    border-radius: 32px;
    background-color: #111;
    align-self: stretch;
    margin: 30px auto 0; /* Agregando más espacio arriba */
    color: #fff;
    text-align: center;
    padding: 15px 60px;
    font: 18px Poppins, sans-serif;
    cursor: pointer;
    /* Para que el cursor se convierta en un dedito */
}

@media (max-width: 991px) {
    .signInButton {
        max-width: 100%;
        padding: 15px 20px;
        /* Ajusta el padding horizontal */
    }
}

.optionsContainer {
    justify-content: flex-end;
    align-self: stretch;
    display: flex;
    margin-top: 8px;
    width: 100%;
    gap: 20px;
    font-size: 16px;
    color: #333;
}

@media (max-width: 991px) {
    .optionsContainer {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.helpLink {
    text-align: center;
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
}

.helpLink {
    text-align: center;
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 8px;
}

.card p strong {
    font-weight: bold;
}